
h1 {
  color: #F8F8FF;
}
h2 {
  color: #F8F8FF;
}
h3 {
  color: #F8F8FF;
}
p {
  color: #F8F8FF;
  }
a:link { 
    background-color: #F8F8FF;
}
      body {
          background-color: #A9A9A9;
      }
