
      body {
          background-image: url("https://img00.deviantart.net/2cbd/i/2011/031/7/3/wood_texture_2_by_rifificz-d38h5m7.jpg")
      }
h1 {
  color: #F8F8FF;
}
h2 {
  color: #F8F8FF;
}
h3 {
  color: #F8F8FF;
}
p {
  color: #F8F8FF;
  }
